<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/cancer-updates"></ion-back-button>
    </ion-button>
    <ion-title>Basal cell Carcinoma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-img src="../../assets/basalImg.jpg"></ion-img>

    <ion-card-content>
      <ion-card-title>Basal cell Carcinoma</ion-card-title>

      <h1>Overview</h1>
      Basal cell carcinoma is a type of skin cancer. Basal cell carcinoma begins in the basal cells — a type of cell within the skin that produces new skin cells as old ones die off.

      Basal cell carcinoma often appears as a slightly transparent bump on the skin, though it can take other forms. Basal cell carcinoma occurs most often on areas of the skin that are exposed to the sun, such as your head and neck.

      Most basal cell carcinomas are thought to be caused by long-term exposure to ultraviolet (UV) radiation from sunlight. Avoiding the sun and using sunscreen may help protect against basal cell carcinoma.
      <br>
      <h2>Symptoms</h2>
      Basal cell carcinoma usually develops on sun-exposed parts of your body, especially your head and neck. Less often, basal cell carcinoma can develop on parts of your body usually protected from the sun, such as the genitals.

      Basal cell carcinoma appears as a change in the skin, such as a growth or a sore that won't heal. These changes in the skin (lesions) usually have one of the following characteristics:

      A pearly white, skin-colored or pink bump that is translucent, meaning you can see a bit through the surface. Tiny blood vessels are often visible. In people with darker skin tones, the lesion may be darker but still somewhat translucent. The most common type of basal cell carcinoma, this lesion often appears on the face and ears. The lesion may rupture, bleed and scab over.
      A brown, black or blue lesion — or a lesion with dark spots — with a slightly raised, translucent border.
      A flat, scaly, reddish patch with a raised edge is more common on the back or chest. Over time, these patches can grow quite large.
      A white, waxy, scar-like lesion without a clearly defined border, called morpheaform basal cell carcinoma, is the least common.
      When to see a doctor
      Make an appointment with your doctor if you observe changes in the appearance of your skin, such as a new growth, a change in a previous growth or a recurring sore.
      <br>
      <h2>Causes</h2>
      Basal cell carcinoma occurs when one of the skin's basal cells develops a mutation in its DNA.

      Basal cells are found at the bottom of the epidermis — the outermost layer of skin. Basal cells produce new skin cells. As new skin cells are produced, they push older cells toward the skin's surface, where the old cells die and are sloughed off.

      The process of creating new skin cells is controlled by a basal cell's DNA. The DNA contains the instructions that tell a cell what to do. The mutation tells the basal cell to multiply rapidly and continue growing when it would normally die. Eventually the accumulating abnormal cells may form a cancerous tumor — the lesion that appears on the skin.

      Ultraviolet light and other causes
      Much of the damage to DNA in basal cells is thought to result from ultraviolet (UV) radiation found in sunlight and in commercial tanning lamps and tanning beds. But sun exposure doesn't explain skin cancers that develop on skin not ordinarily exposed to sunlight. Other factors can contribute to the risk and development of basal cell carcinoma, and the exact cause may in some cases not be clear.
      <br>
      <h2>Risk factors</h2>
      Factors that increase your risk of basal cell carcinoma include:

      <b>Chronic sun exposure.</b> A lot of time spent in the sun — or in commercial tanning beds — increases the risk of basal cell carcinoma. The threat is greater if you live in a sunny or high-altitude location, both of which expose you to more UV radiation. Severe sunburns also increase your risk.
      <b>Radiation therapy.</b> Radiation therapy to treat acne or other skin conditions may increase the risk of basal cell carcinoma at previous treatment sites on the skin.
      <b>Fair skin.</b> The risk of basal cell carcinoma is higher among people who freckle or burn easily or who have very light skin, red or blond hair, or light-colored eyes.
      <b>Increasing age.</b> Because basal cell carcinoma often takes decades to develop, the majority of basal cell carcinomas occur in older adults. But it can also affect younger adults and is becoming more common in people in their 20s and 30s.
      <b>A personal or family history of skin cancer.</b> If you've had basal cell carcinoma one or more times, you have a good chance of developing it again. If you have a family history of skin cancer, you may have an increased risk of developing basal cell carcinoma.
      <b>Immune-suppressing drugs.</b> Taking medications that suppress your immune system, such as anti-rejection drugs used after transplant surgery, significantly increases your risk of skin cancer.
      <b>Exposure to arsenic.</b> Arsenic, a toxic metal that's found widely in the environment, increases the risk of basal cell carcinoma and other cancers. Everyone has some arsenic exposure because it occurs naturally. But some people may have higher exposure if they drink contaminated well water or have a job that involves producing or using arsenic.
      <b>Inherited syndromes that cause skin cancer.</b> Certain rare genetic diseases can increase the risk of basal cell carcinoma, including nevoid basal cell carcinoma syndrome (Gorlin-Goltz syndrome) and xeroderma pigmentosum.
      <br>
      By Mayo Clinic Staff




    </ion-card-content>


  </ion-card>


</ion-content>
