<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/cancer-updates"></ion-back-button>
    </ion-button>
    <ion-title>news-single</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-img src="...\image1.jpg"></ion-img>

    <ion-card-content>
      <ion-card-title>What is Skin Cancer?</ion-card-title>
      <br>

      <h1>Overview</h1><br>
      <p>
        Skin cancer — the abnormal growth of skin cells — most often develops on skin exposed to the sun. But this common form of cancer can also occur on areas of your skin not ordinarily exposed to sunlight.

        There are three major types of skin cancer — basal cell carcinoma, squamous cell carcinoma and melanoma.

        You can reduce your risk of skin cancer by limiting or avoiding exposure to ultraviolet (UV) radiation. Checking your skin for suspicious changes can help detect skin cancer at its earliest stages.
        Early detection of skin cancer gives you the greatest chance for successful skin cancer treatment.</p>

      <br>
      <b>Types :</b>
      <p>Basal cell carcinoma <br>
        Melanoma Nonmelanoma skin cancer<br>
        Squamous cell carcinoma of the skin</p>
      <br>

      <h1>Symptoms</h1>
      <h2>Where skin cancer develops</h2>
      <p>Skin cancer develops primarily on areas of sun-exposed skin,
        including the scalp, face, lips, ears, neck, chest, arms and hands, and on the legs in women. But it can also form on areas that rarely see the light of day — your palms, beneath your fingernails or toenails,
        and your genital area.
        <br>
        Skin cancer affects people of all skin tones, including those with darker complexions.
        When melanoma occurs in people with dark skin tones, it's more likely to occur in areas not normally exposed to the sun,
        such as the palms of the hands and soles of the feet.
      </p>


    </ion-card-content>


  </ion-card>


</ion-content>
