<ion-header>
  <ion-toolbar>
    <ion-title>view-Images</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button expand="full" color="secondary" (click)="buttonReload()"><ion-icon name="refresh"></ion-icon>Load Pictures</ion-button>

    
    <ion-list>
  <!--      <ion-col col-6 *ngFor="let photo of photos; let id = index">-->
      <ion-item *ngFor="let photo of images;">
        <ion-thumbnail style="width: 150px; height: 150px" class="block" slot="start">
        
          <img src="http://192.168.1.101:3000/{{photo.image}}"/>
        </ion-thumbnail>
        <ion-list>
          <ion-item>
            Prediction: {{photo.prediction}}
          </ion-item>

          <ion-item>
            Accuracy: {{photo.percentage}}
          </ion-item>


            <!-- <button (click)="imageDelete({{photo.image}})">csdcsd</button> -->


        </ion-list>
        

  <!--        <ion-label>{{img.name}}</ion-label>-->
      </ion-item>
      
    </ion-list>




</ion-content>
