ion-content.background{

  --background:url(../../assets/background.jpg)0 0/100% no-repeat;

  }

  .content{
    position: fixed;
    margin-top: 100px;
    margin-left: 40px;
  }
  .buttons-action{
      margin-left: 5px;

  }
  .signup-text{
      font-size: x-small;
      color: lightness($color: #9e9ab3);
      text-align: center;
      font-family: 'Nunito',sans-serif;
      text-transform: none;

  }
  .signin-text{
    font-size: small; 
    font-family: 'Nunito',sans-serif;
    text-transform: none;
    
}

ion-input{
    background-color: darken($color: #ad9d9d, $amount: 0);
    border-radius: 5px;
    font-size: small;
    width: 301.5px;


}
.actionbutton{
    background-color:greenyellow;
    color:black;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: sans-serif;
}





