
<ion-content class="background">
  <div class ="content">
    <div class="buttons-action">
      <ion-button fill="clear" color="dark" size="small" routerLink="/home" routerDirection="root">
     
      <p class="signin-text">sign in </p>
    </ion-button>
    <ion-button fill="clear" color="dark" size="small">
      <p class="signin-text">sign up </p>
    </ion-button>
    </div>
    <div class ="ion-padding">
      <ion-input placeholder=" email"  style="padding-left: 10px !important; font-family: Nunito, sans-serif; "></ion-input>
      <br>
      <ion-input placeholder=" password"  style="padding-left: 10px !important; font-family: Nunito, sans-serif; "></ion-input>
      <br>
      <ion-input placeholder=" confirm-password"  style="padding-left: 10px !important; font-family: Nunito, sans-serif; "></ion-input>


    </div>
    <ion-button class ="actionbutton" fill="clear" expand ="full" style="text-transform: none;"><b> sign in </b></ion-button>
    <ion-button  fill="clear" expand ="full" style="font-size: 10px; padding-bottom: 20px; color: brown; margin-right: 10px;text-transform: none;  font-family: Nunito, sans-serif;"><b> sign in </b></ion-button>

  </div>

</ion-content>
