<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/cancer-updates"></ion-back-button>
    </ion-button>
    <ion-title>news-third</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-img src="...\image1.jpg"></ion-img>

    <ion-card-content>
      <ion-card-title>Treatment of Skin Cancer</ion-card-title>
      <ion-card-subtitle> By:- National Cancer Institute</ion-card-subtitle>
      <br>
      <h2>KEY POINTS</h2><br>
      <ul>
        <li>There are different types of treatment for patients with basal cell carcinoma, squamous cell carcinoma of the skin, and actinic keratosis.</li>

        <li>Eight types of standard treatment are used:</li>
        <ul>
          <li>Surgery</li>
          <li>Radiation therapy</li>
          <li>Chemotherapy</li>
          <li>Photodynamic therapy</li>
          <li>Immunotherapy</li>
          <li>Targeted therapy</li>
          <li>Chemical peel</li>
        </ul>




        <li>New types of treatment are being tested in clinical trials.</li>
        <li>Treatment for skin cancer may cause side effects.</li>
        <li>Patients may want to think about taking part in a clinical trial.</li>
        <li>Patients can enter clinical trials before, during, or after starting their cancer treatment.</li>
        <li>Follow-up tests may be needed.</li>
      </ul>
    </ion-card-content>


  </ion-card>


</ion-content>
