<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
    <ion-menu-button menu="m1"></ion-menu-button>
    </ion-button>
    <ion-title>cancer-updates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card (click)="onGoToNewsSinglePage()">

    <ion-card-content>
      <ion-card-title>What is Skin Cancer?</ion-card-title>
      <ion-card-subtitle>--18 March 2020--</ion-card-subtitle>

      <p>Skin cancer — the abnormal growth of skin cells — most often develops on skin exposed to the sun.
        But this common form of cancer can also occur on areas of your skin not ordinarily exposed to sunlight.</p>
    </ion-card-content>


  </ion-card>

  <ion-card (click)="onGoToNewsSecondPage()">

    <ion-card-content>
      <ion-card-title>Basal cell carcinoma</ion-card-title>
      <ion-card-subtitle>--18 March 2020--</ion-card-subtitle>

      <p>Basal cell carcinoma is a type of skin cancer.
        Basal cell carcinoma begins in the basal cells — a type of cell within the skin that produces new skin cells as old ones die off.....</p>

    </ion-card-content>


  </ion-card>

  <ion-card (click)="onGoToNewsThirdPage()">

    <ion-card-content>
      <ion-card-title>Skin Cancer Treatment</ion-card-title>
      <ion-card-subtitle>--19 March 2020--</ion-card-subtitle>

      <p>how to treat cancer patients....</p>
      <p>{{userToken}}</p>
      <p>{{userFirstName}}</p>

    </ion-card-content>


  </ion-card>


</ion-content>
